*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbarNav
{
    justify-content: flex-end;
}
.navbar-brand
{
    color: rgb(105, 12, 31) !important;
    font-size: 2rem !important;
    padding-left: 2rem !important;
}
#nav-bar 
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #7ca196,  #c5997f);;
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: rgb(87, 28, 79);
    font-weight: 500;
}

/* banner */

.banner
{
    background-image: linear-gradient(to right, #7ca196,  #c5997f);
}
i
{
    
}


.centerdiv
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.kjh
{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px ;

}